---
interface Props {
  title: string;
  description?: string;
  favicon?: string;
}

const {
  title,
  description = "Type-Safe Analytics Backend for ClickHouse Teams",
  favicon = "/favicon.png",
} = Astro.props;

// Get Google Analytics Measurement ID from environment variable
const gaMeasurementId = import.meta.env.PUBLIC_GA_MEASUREMENT_ID;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href={favicon} />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<!-- Netlify Identity Widget -->
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>

<!-- Umami Analytics -->
<script
  defer
  src="https://cloud.umami.is/script.js"
  data-website-id="e5dd7de0-ba7e-4fd6-a56c-79a58ab4f5a8"></script>

<!-- Leadfeeder Tracker -->
<script is:inline>
  (function (ss, ex) {
    window.ldfdr =
      window.ldfdr ||
      function () {
        (ldfdr._q = ldfdr._q || []).push([].slice.call(arguments));
      };
    (function (d, s) {
      fs = d.getElementsByTagName(s)[0];
      function ce(src) {
        var cs = d.createElement(s);
        cs.src = src;
        cs.async = 1;
        fs.parentNode.insertBefore(cs, fs);
      }
      ce(
        "https://sc.lfeeder.com/lftracker_v1_" +
          ss +
          (ex ? "_" + ex : "") +
          ".js",
      );
    })(document, "script");
  })("DzLR5a5lx1Z4BoQ2");
</script>

<!-- Google Analytics -->
{
  gaMeasurementId && (
    <>
      <script
        async
        src={`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementId}`}
      />
      <script
        set:html={`
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '${gaMeasurementId}');
    `}
      />
    </>
  )
}
